<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
</head>
<body>

<form method="post" th:action="@{/employees/filter}">
    <dl>
        <dt>Начальная дата</dt>
        <dd><input type="date" name="startDate" th:value="${startDate}"></dd>
    </dl>
    <dl>
        <dt>Конечная дата</dt>
        <dd><input type="date" name="endDate" th:value="${endDate}"></dd>
    </dl>
    <button type="submit">Отфильтровать</button>
</form>

<table border="1">
    <thead>
    <tr>
        <th>Full Name</th>
        <th>Birthday</th>
        <th>Salary</th>
        <th>Department</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tr th:each="employee : ${employees}">
        <td th:text="${employee.fullName}"></td>
        <td th:text="${employee.dateOfBirth}"></td>
        <td th:text="${employee.salary}"></td>
        <td th:text="${employee.department}"></td>
        <td><a th:href="@{employees/update(id=${employee.id})}" class="btn btn-danger">Редактировать</a></td>
        <td><a th:href="@{employees/delete(id=${employee.id})}" class="btn btn-danger">Удалить</a></td>
    </tr>
</table>
<br>
<a th:href="@{/employees/add}">Добавить сотрудника</a>
<br>
<a th:href="@{/}">На главную</a>
</body>
</html>